@{
    ViewBag.Title = "Home Page";
}

<div class="main-page container body-content">
    <div class="page-title">
        <h1><b>Ostrem</b></h1>
        <p class="lead">Cheapest game store</p>
    </div>
    <div class="page-middle">
        <div class="row home-menus">
            <div class="col-md-4">
                <img src="/Images/Battlefield_1_Icon.png" alt="comp" class="competition-img">
                <h2><a href="/gamespage">New games</a></h2>
                <p>
                    Every new game is added and avalible
                </p>
            </div>
            <div class="col-md-4">
                <img src="/Images/low-price.gif" alt="comp" class="competition-img">
                <h2><a href="/gamespage">Cheap prices</a></h2>
                <p>
                    Guranteed cheap prices
                </p>
            </div>
            <div class="col-md-4">
                <img src="/Images/buyallgames.png" alt="comp" class="competition-img">
                <h2><a href="/gamespage">Easy buying</a></h2>
                <p>
                    Easy one click game buying
                </p>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>