@model VideoGameStore.Web.Models.ErrorPageViewModel

<link href="~/Content/ErrorPage.css" rel="stylesheet"/>

<div class="wrap">
    <!--start-content------>
    <div class="content">
        <p>
            <span>
                <label>O</label>hh.....
            </span>Error @this.Model.ErrorCode
        </p>
    </div>
    <!--End-Cotent------>
</div>