body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main-page {
    padding-top: 20px;
}

.page-title {
    text-align: center;
}

.my-navlink {
    color: lightgreen;
    font-weight: bold;
    font-size: 20px;
}

.my-navlink:hover {
    color: white;
}

.page-middle {
    margin-top: 100px;
}

.competition-img {
    width: 300px;
    height: 270px;
}

.task-description {
    float: left;
    margin-right: 20px;
}

.clear {
    clear: both;
}

.search-input {
    
}

.left {
    float: left;
}

.right {
    float: left;
}

.search-btn {
    margin-left: 5px;
}

.search-box {
    margin-top: 30px;
}

.text-center-align {
    margin-top: 10px;
}

.game-container {
    max-width: 250px;
    text-align: center;
}

.add {
    width: 200px;
}

.game-img {
    width: 200px;
    height: 300px;
}

.game-title {
    text-align: center;
}

.search-box-panel {
    margin-bottom: 40px;
}

.checkbox-category {
    margin-right: 20px;
}

.ccategory {
    margin-right: 20px;

    font-weight: bold;
}